/* CSS Document for HC Mobile Apps*/
* {
 -webkit-user-select: none;
}
body {
background-color:#000;	
}

#app_container {
background-color:#FFFFFF;
margin: 0 0;
padding: 0px;
height: 558px;
width: 1024px;	
color: #000;
border: 1px solid #000;
border-radius: 10px;
font-size: 14px;
}

h1 {
font-size: 26px;	
color: #000033;
}
